/* Stores Section */
/* Containing Element */
/* Horizontal Scroll Functionality */
.about__stores-list {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide Scrollbar for Chrome, Safari and Opera */
.about__stores-list::-webkit-scrollbar {
  display: none;
}

/* Individual Stores */
.about__stores-item:nth-child(1) {
  margin-left: 0;
}
.about__stores-item:nth-last-child(1) {
  margin-right: 0;
}

.about__stores-link:hover .about__stores-heading,
.about__stores-link:hover .about__stores-address,
.link-container__blog-category:hover .small-heading--category-section {
  color: #333333;
}
