/* Post Body */
.rich-text-body--blog-post > blockquote:nth-child(1) {
  margin-top: 0;
}

.rich-text-body--blog-post > p:nth-last-child(1) {
  margin-bottom: 0;
}

.rich-text-body--blog-post > blockquote:nth-last-child(1) {
  margin-bottom: 0;
}

.rich-text-body--blog-post > ul:nth-last-child(1) {
  margin-bottom: 0;
}

/* More Posts */
.small-heading--category-section,
.blog-post__category {
  transition: color 250ms linear;
}

.link-container__blog-category:hover .small-heading--category-section,
.blog-post__hero-category:hover .blog-post__category {
  color: #333333;
}

/* Social Share */
.tippy-box[data-theme~='canvas'] {
  background-color: #f2efed;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 0px;
  opacity: 0.9;
}

.share__link--content {
  margin-right: 2px;
  line-height: 100%;
}

.share__link--copied {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-bottom: 4px;
}

/* Social Share Icons */
.blog-post__share-icon-bounding {
  vertical-align: middle;
}

.blog-post__share-link:hover .blog-post__share-icon-bounding {
  color: #333333;
}

.blog-post__share-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Related Posts Section Element */
aside.posts-category {
  padding-bottom: calc(136px - (80px - 40px));
}

@media (max-width: 991px) {
  aside.posts-category {
    padding-bottom: calc(120px - (80px - 40px));
  }
}

@media (max-width: 767px) {
  aside.posts-category {
    padding-bottom: calc(104px - (80px - 32px));
  }
}

@media (max-width: 479px) {
  aside.posts-category {
    padding-bottom: calc(88px - (64px - 32px));
  }
}

/* Category More Links */
.link-container__blog-category:hover .small-heading--category-section {
  color: #333;
}
