/* Section Element */
section.posts-category:last-of-type {
  padding-bottom: calc(136px - (80px - 40px));
}

@media (max-width: 991px) {
  section.posts-category:last-of-type {
    padding-bottom: calc(120px - (80px - 40px));
  }
}

@media (max-width: 767px) {
  section.posts-category:last-of-type {
    padding-bottom: calc(104px - (80px - 32px));
  }
}

@media (max-width: 479px) {
  section.posts-category:last-of-type {
    padding-bottom: calc(88px - (64px - 32px));
  }
}

/* Category More Links */
.link-container__blog-category:hover .small-heading--category-section {
  color: #333;
}
