/* Containing Element */
.thirds-section.thirds-section--job-postings.wrapper--pad-only {
  padding: calc(56px - 32px) calc(5% - 32px) calc(88px - 32px); /* 24s */
}

@media (max-width: 991px) {
  .thirds-section.thirds-section--job-postings.wrapper--pad-only {
    padding: calc(56px - 32px) calc(5% - 24px) calc(80px - 32px); /* 24 & 16 */
  }
}

@media (max-width: 767px) {
  .thirds-section.thirds-section--job-postings.wrapper--pad-only {
    padding: calc(48px - 32px) 5% calc(64px - 32px); /* 24px */
  }
}

@media (max-width: 479px) {
  .thirds-section.thirds-section--job-postings.wrapper--pad-only {
    padding-left: 6.4%;
    padding-right: 6.4%;
  }
}

.link-container--job-postings:hover .job-postings__heading {
  color: #333333;
}

/* Individual Postings */
.thirds-section__container.thirds-section__container--job-postings {
  width: calc((100% / 3) - 64px); /* 48 */
}

@media (max-width: 991px) {
  .thirds-section__container.thirds-section__container--job-postings {
    width: calc(50% - 48px); /* 32 */
  }
}

@media (max-width: 767px) {
  .thirds-section__container.thirds-section__container--job-postings {
    width: 100%;
  }
}

/* Containing Titled Sections */
div.titled-section:last-of-type {
  padding-bottom: calc(136px - (80px - 40px));
}

@media (max-width: 991px) {
  div.titled-section:last-of-type {
    padding-bottom: calc(120px - (80px - 40px));
  }
}

@media (max-width: 767px) {
  div.titled-section:last-of-type {
    padding-bottom: calc(104px - (80px - 32px));
  }
}

@media (max-width: 479px) {
  div.titled-section:last-of-type {
    padding-bottom: calc(88px - (64px - 32px));
  }
}
