/* All Screens */
/* Global Custom */
html {
  font-feature-settings: 'ss08' on, 'liga' off;
}

/* Share Links */
.share-links__link:nth-child(2) {
  margin: 24px 0;
}

/* The Firm */
.the-firm__container {
  --colMargin: calc(40px / 3);
  --colWidth: calc(100% / 3);
  width: calc(var(--colWidth) - var(--colMargin));
}

.the-firm__container:nth-child(3n + 2) {
  margin: 0 20px;
}

/* Footer */
.footer__container > .body--small:nth-child(1) {
  margin-bottom: 6px;
}

/* Webflow Native */
/* Global */
.wrapper {
  /* Desktop 1440–992 */
  margin: 0 auto;
  padding: 0 4.9%;
  max-width: 1440px;

  /* Tablet 991–768 */
  padding: 0 6.3%;

  /* ≤ Landscape Mobile 767–320 */
  padding: 0 7.7%;
}

.thirds-container {
  /* ≤ Landscape Mobile 767–320 */
  width: 100%;
}

.illustration {
  display: block;
  margin: 0 auto 150px;

  /* Tablet 991–768 */
  margin-bottom: 115.5px;

  /* ≤ Landscape Mobile 767–320 */
  margin-bottom: 72px;
}

.body--small {
  /* Tablet 991–768 */
  font-size: 26px;
  line-height: 123%;

  /* ≤ Landscape Mobile 767–320 */
  font-size: 25px;
  line-height: 128%;
  letter-spacing: -0.2px;
}

.body--base {
  /* Tablet 991–768 */
  font-size: 32px;
  line-height: 125%;

  /* ≤ Landscape Mobile 767–320 */
  font-size: 25px;
  line-height: 128%;
}

.body--large {
  /* Tablet 991–768 */
  font-size: 80px;

  /* ≤ Landscape Mobile 767–320 */
  font-size: 33px;
  line-height: 109%;
  letter-spacing: -0.2px;
}

.inline-link {
  /* Tablet 991–768 */
  border-bottom-width: 2px;
  /* ≤ Landscape Mobile 767–320 */
  border-bottom-width: 1.8px;
}

.inline-link.inline-link--alt {
  /* Tablet 991–768 */
  line-height: 123%;
  /* ≤ Landscape Mobile 767–320 */
  line-height: 128%;
}

.caption.caption--primary {
  /* Tablet 991–768 */
  font-size: 19px;
  line-height: 105%;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 13px;
  line-height: 154%;
}

.heading.heading--primary {
  /* Tablet 991–768 */
  font-size: 26px;
  line-height: 123%;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 17px;
  line-height: 141%;
}

.heading.heading--secondary {
  /* Tablet 991–768 */
  font-size: 19px;
  line-height: 126%;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 17px;
  line-height: 141%;
}

.label--primary {
  /* Tablet 991–768 */
  font-size: 13px;
  line-height: 123%;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 11px;
  line-height: 109%;
}

.table-data--primary {
  /* Tablet 991–768 */
  font-size: 13px;
  line-height: 123%;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 11px;
  line-height: 109%;
}

.btn.btn--primary {
  /* Tablet 991–768 */
  padding: 16px 28px;
  font-size: 26px;
  line-height: 123%;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 22px;
  line-height: 109%;
  letter-spacing: 0.1px;
}

.btn.btn--secondary {
  /* Tablet 991–768 */
  font-size: 19px;
  line-height: 105%;
  /* ≤ Landscape Mobile 767–320 */
  padding-left: 20px;
  padding-right: 20px;
}

.primary-text-field {
  /* Tablet 991–768 */
  height: 64px;
  margin-right: 16px;
  padding: 16px 28px;
  /* ≤ Landscape Mobile 767–320 */
  height: 52px;
  margin-right: initial;
  margin-bottom: 16px;
  padding: 12px 30px;
}

.primary-text-field,
.primary-text-field::placeholder {
  /* Tablet 991–768 */
  font-size: 26px;
  line-height: 123%;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 24px;
  line-height: 117%;
}

/* CTA Header */
.wrapper.cta-header {
  /* Tablet 991–768 */
  padding-top: 44px;
  padding-bottom: 54.5px;
  /* ≤ Landscape Mobile 767–320 */
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 32px;
}

.thirds-container.cta-header__container {
  /* ≤ Landscape Mobile 767–320 */
  height: auto;
}

.thirds-container.cta-header__container.cta-header__container--first,
.thirds-container.cta-header__container.cta-header__container--third {
  /* ≤ Landscape Mobile 767–320 */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.thirds-container.cta-header__container.cta-header__container--first {
  /* ≤ Landscape Mobile 767–320 */
  margin-bottom: 80px;
}

.thirds-container.cta-header__container.cta-header__container--third {
  /* ≤ Landscape Mobile 767–320 */
  height: 0;
}

.cta-header__brand {
  /* Tablet 991–768 */
  font-size: 19px;
  line-height: 105%;
  letter-spacing: -0.2px;
  /* ≤ Landscape Mobile 767–320 */
  line-height: 126%;
}

.btn.btn--secondary.cta-header__btn {
  /* Tablet 991–768 */
  top: 65px;
  /* ≤ Landscape Mobile 767–320 */
  top: auto;
  bottom: 44px;
}

/* Introduction */
.wrapper.introduction {
  /* Tablet 991–768 */
  padding-top: 54.5px;
  padding-bottom: 64px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 32px;
  padding-bottom: 36px;
}

.illustration.illustration--introduction {
  /* Tablet 991–768 */
  max-width: 468.99px;
  /* ≤ Landscape Mobile 767–320 */
  max-width: 315px;
}

/* Market Segment */
.wrapper.market-segment {
  /* Tablet 991–768 */
  padding-top: 64px;
  padding-bottom: 64px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 36px;
  padding-bottom: 36px;
}

.illustration.illustration--market-segment {
  /* Tablet 991–768 */
  margin: 56px auto;
  max-width: 73.21px;
  /* ≤ Landscape Mobile 767–320 */
  margin: 32px auto;
  max-width: 61.01px;
}

.body--base.market-segment__body {
  /* Tablet 991–768 */
  max-width: 732px;
}

/* Case Study */
.wrapper.case-study {
  /* Tablet 991–768 */
  padding-top: 64px;
  padding-bottom: 64px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 36px;
  padding-bottom: 36px;
}

.case-study__container {
  /* Tablet 991–768 */
  margin-bottom: 120px;
  /* ≤ Landscape Mobile 767–320 */
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  margin-bottom: 72px;
}

.case-study__half-container {
  /* ≤ Landscape Mobile 767–320 */
  width: 100%;
  padding-left: 0px;
}

.case-study__half-container.case-study__half-container--dividends {
  /* Tablet 991–768 */
  align-items: center;
  /* ≤ Landscape Mobile 767–320 */
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: ccenter;
  -ms-flex-pack: center;
  order: 1;
  margin-bottom: 28px;
  padding-left: 0;
}

.case-study__half-container.case-study__half-container--appreciation {
  /* ≤ Landscape Mobile 767–320 */
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  order: 3;
}

.case-study__chart-container {
  /* Tablet 991–768 */
  height: 522px;
  margin-bottom: 44px;
  /* ≤ Landscape Mobile 767–320 */
  height: 532px;
  margin-bottom: 28px;
  order: 2;
}

.heading.heading--secondary.case-study__heading {
  /* Tablet 991–768 */
  margin-bottom: 141px;
  /* ≤ Landscape Mobile 767–320 */
  margin-bottom: 72px;
  max-width: 290px;
}

.body--base.case-study__body {
  /* Tablet 991–768 */
  max-width: 710px;
  /* ≤ Landscape Mobile 767–320 */
  max-width: 316px;
}

.case-study__dividends-amount {
  /* ≤ Landscape Mobile 767–320 */
  width: 9px;
  height: 9px;
  min-height: 9px;
  min-width: 9px;
}

.table-data--primary.case-study__dividends-data {
  /* ≤ Landscape Mobile 767–320 */
  display: none;
}

.label--primary.case-study__appreciation-label {
  /* ≤ Landscape Mobile 767–320 */
  margin-right: 11px;
}

.label--primary.case-study__dividends-label {
  /* ≤ Landscape Mobile 767–320 */
  margin-right: 0px;
}

/* Financial Security */
.wrapper.financial-security {
  /* Tablet 991–768 */
  padding-top: 64px;
  padding-bottom: 64px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 36px;
  padding-bottom: 36px;
}

.illustration.illustration--financial-security {
  /* Tablet 991–768 */
  max-width: 525.61px;
  /* ≤ Landscape Mobile 767–320 */
  max-width: 277.32px;
}

.body--base.financial-security__body {
  /* Tablet 991–768 */
  max-width: 710px;
}

/* Client Story */
.wrapper.client-story {
  /* Tablet 991–768 */
  padding-top: 64px;
  padding-bottom: 64px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 36px;
  padding-bottom: 36px;
}

.illustration.illustration--client-story {
  /* Tablet 991–768 */
  max-width: 493.89px;
  /* ≤ Landscape Mobile 767–320 */
  max-width: 258.94px;
}

.heading.heading--secondary.client-story__heading {
  /* Tablet 991–768 */
  margin-bottom: 64px;
  max-width: 710px;
  /* ≤ Landscape Mobile 767–320 */
  margin-bottom: 26px;
  max-width: 302px;
}

.body--base.client-story__body {
  /* Tablet 991–768 */
  max-width: 710px;
  /* ≤ Landscape Mobile 767–320 */
  max-width: 302px;
}

/* FAQ */
.wrapper.faq {
  /* Tablet 991–768 */
  padding-top: 64px;
  padding-bottom: 64px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 36px;
  padding-bottom: 54px;
}

.heading.heading--primary.faq__heading {
  /* Tablet 991–768 */
  margin-bottom: 20px;
  /* ≤ Landscape Mobile 767–320 */
  margin-bottom: 12px;
}

.faq__question {
  /* Tablet 991–768 */
  transition: color 0.25s linear;
}

.faq__question-container {
  /* Tablet 991–768 */
  padding-top: 20px;
  padding-bottom: 20px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 10px;
  padding-bottom: 10px;
}

.faq__question-container:hover .faq__question {
  /* Tablet 991–768 */
  color: #333;
}

.faq__question.body--base {
  /* Tablet 991–768 */
  font-size: 32px;
  line-height: 112%;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 25px;
  line-height: 128%;
}

.faq__answer {
  /* Tablet 991–768 */
  padding-top: 0px;
  max-width: 820px;
}

.faq__answer-container {
  /* Tablet 991–768 */
  padding-bottom: 36px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 24px;
}

.faq__answer-container--active {
  /* Tablet 991–768 */
  display: block;
}

.faq__answer.body--small {
  /* Tablet 991–768 */
  line-height: 123%;
  letter-spacing: -0.2px;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.4px;
}

/* CTA Lead Gen */
.wrapper.cta-lead-gen {
  /* Tablet 991–768 */
  padding-top: 64px;
  padding-bottom: 128px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 54px;
  padding-bottom: 104px;
}

.cta-lead-gen__profile-photo {
  /* ≤ Landscape Mobile 767–320 */
  max-width: 240px;
  margin-bottom: 36px;
}

.body--base.cta-lead-gen__body {
  /* Tablet 991–768 */
  max-width: 433px;
  /* ≤ Landscape Mobile 767–320 */
  max-width: 248px;
}

.caption.caption--primary.cta-lead-gen__designation {
  /* Tablet 991–768 */
  max-width: 433px;
  /* ≤ Landscape Mobile 767–320 */
  margin-bottom: 24px;
}

/* CTA Opt-In */
.wrapper.cta-opt-in__container {
  /* Tablet 991–768 */
  padding-top: 56px;
  padding-bottom: 64px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 48px;
}

.cta-opt-in__form-block {
  /* Tablet 991–768 */
  max-width: 740px;
}

.cta-opt-in__form {
  /* ≤ Landscape Mobile 767–320 */
  flex-direction: column;
  align-items: stretch;
}

.cta-opt-in_success {
  /* Tablet 991–768 */
  padding: 16px 0px 0px;
}

.cta-opt-in_error {
  /* ≤ Landscape Mobile 767–320 */
  margin-top: 16px;
}

.body--base.cta-opt-in__form-desc {
  /* Tablet 991–768 */
  margin: 0 auto 32px;
  max-width: 506px;
  /* ≤ Landscape Mobile 767–320 */
  max-width: 290px;
}

.body--small.cta-opt-in_message {
  /* Tablet 991–768 */
  line-height: 123%;
  /* ≤ Landscape Mobile 767–320 */
  font-size: 22px;
  line-height: 117%;
}

.body--small.cta-opt-in_message.cta-opt-in_message--error {
  /* ≤ Landscape Mobile 767–320 */
  line-height: 133%;
}

/* The Firm */
.wrapper.the-firm {
  /* Tablet 991–768 */
  padding-top: 128px;
  padding-bottom: 64px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 104px;
  padding-bottom: 36px;
}

.the-firm__container {
  /* Tablet 991–768 */
  --colMargin: calc(20px / 2);
  --colWidth: calc(100% / 2);
  width: calc(var(--colWidth) - var(--colMargin));
}

.the-firm__container:nth-child(3n + 2) {
  /* Tablet 991–768 */
  margin: initial;
}

.the-firm__container:nth-child(2n) {
  /* Tablet 991–768 */
  margin-left: 10px;
}

.the-firm__container:nth-child(2n-1) {
  /* Tablet 991–768 */
  margin-right: 10px;
}

.thirds-container.the-firm__container {
  /* Tablet 991–768 */
  padding: 16px 0;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}

.illustration.illustration--the-firm {
  /* Tablet 991–768 */
  max-width: 572.14px;
  /* ≤ Landscape Mobile 767–320 */
  max-width: 286.07px;
}

.heading.heading--primary.the-firm__heading {
  /* Tablet 991–768 */
  margin-bottom: 16px;
  /* ≤ Landscape Mobile 767–320 */
  margin-bottom: 12px;
}

/* Footer */
.wrapper.footer {
  /* Tablet 991–768 */
  padding-top: 64px;
  padding-bottom: 114px;
  /* ≤ Landscape Mobile 767–320 */
  padding-top: 36px;
  padding-bottom: 136px;
}

.footer__container {
  /* Tablet 991–768 */
  padding-bottom: 16px;
  /* ≤ Landscape Mobile 767–320 */
  padding-bottom: 12px;
}

.caption.caption--secondary.footer__legal {
  /* Tablet 991–768 */
  margin-top: 16px;
  /* ≤ Landscape Mobile 767–320 */
  margin-top: 12px;
}
