/* Daily Specials */
@media (max-width: 1118px) and (min-width: 992px) {
  .daily-specials__petal.is--004 {
    left: 78%;
  }
  .daily-specials__petal.is--005 {
    left: 86%;
  }
  .daily-specials__petal.is--006 {
    left: 70%;
  }
}

@media (max-width: 1156px) and (min-width: 992px) {
  span.small-heading__line-break {
    display: block;
  }
}

/* Featured Products */
.featured-products__base-bounding {
  vertical-align: middle;
}

.featured-products__base {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 991px) {
  .thirds-section__container.thirds-section__container--featured:first-of-type {
    padding-top: 128px;
  }

  .thirds-section__container.thirds-section__container--featured:last-of-type {
    padding-bottom: 128px;
  }
}

@media (max-width: 479px) {
  .thirds-section__container.thirds-section__container--featured:first-of-type {
    padding-top: 96px;
  }

  .thirds-section__container.thirds-section__container--featured:last-of-type {
    padding-bottom: 96px;
  }
}

/* Dynamic Blog CTA */
.cta-section__img.cta-section__img--latest-post {
  -webkit-clip-path: url(#latest-post__mask);
  clip-path: url(#latest-post__mask);
}

.link-container--cta:hover .cta-section__heading {
  color: #333333;
}
